<mat-card class="max-w-lg mx-auto mt-32 p-8 bg-white">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="text-center mb-6">
      <h1 class="text-3xl font-semibold text-primary">Forgot password</h1>
      <p class="text-sm text-gray-600 mt-2">We will email you a reset link.</p>
    </div>
    <mat-form-field appearance="outline" class="w-full mb-4">
      <mat-label>Email address</mat-label>
      <input formControlName="email" type="email" placeholder="name@example.com" matInput />
    </mat-form-field>
    <button mat-flat-button type="submit" class="w-full py-2">Send reset link</button>
    <div class="text-center mt-4 text-sm">
      <a routerLink="/account/login" class="text-primary hover:underline">Back to login</a>
    </div>
  </form>
</mat-card>
