<section *ngIf="signalrService.orderSignal() as order" class="bg-white py-16">
    <div class="mx-auto max-w-2xl px-4">
        <div class="mx-auto mb-2 flex h-14 w-14 items-center justify-center rounded-full bg-green-500">
            <svg class="h-7 w-7 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 5.29a1 1 0 010 1.415l-7.5 7.5a1 1 0 01-1.415 0l-3.5-3.5a1 1 0 011.415-1.415L8 11.086l6.793-6.793a1 1 0 011.411-.003z" />
            </svg>
        </div>
        <h2 class="font-semibold text-2xl mb-2">Thanks for your fake order!</h2>
        <p class="text-gray-500 mb-8">Your order <span class="font-medium">
            #{{order.id}}
        </span>
         will never be processed as this is a fake shop.  we will not notify you once your order has not shipped.
        </p>
        <div class="space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-8">
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Date</dt>
                <dd class="font-medium text-gray-900 text-end">
                    {{order.orderDate | date: 'medium'}}
                </dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Payment method</dt>
                <dd class="font-medium text-gray-900 text-end">
                    {{order.paymentSummary | paymentCard}}
                </dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Address</dt>
                <dd class="font-medium text-gray-900 text-end">
                    {{order.shippingAddress | address}}
                </dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Amount</dt>
                <dd class="font-medium text-gray-900 text-end">
                    {{order.total | currency}}
                </dd>
            </dl>
        </div>
        <div class="flex items-center space-x-4">
            <button routerLink="/orders/{{order.id}}" mat-flat-button>View your order</button>
            <button routerLink="/shop" mat-stroked-button>Continue shopping</button>
        </div>
    </div>
</section>

<section *ngIf="!signalrService.orderSignal()" class="bg-white py-16">
    <div class="mx-auto max-w-2xl px-4">
        <div class="mx-auto mb-2 flex h-14 w-14 items-center justify-center rounded-full bg-green-500">
            <svg class="h-7 w-7 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 5.29a1 1 0 010 1.415l-7.5 7.5a1 1 0 01-1.415 0l-3.5-3.5a1 1 0 011.415-1.415L8 11.086l6.793-6.793a1 1 0 011.411-.003z" />
            </svg>
        </div>
        <h2 class="font-semibold text-2xl mb-2">Order confirmed</h2>
        <p class="text-gray-500 mb-8">
            Your payment was successful. Your order is being finalized and will appear in your orders
            list shortly.
        </p>
        <div class="flex items-center space-x-4">
            <button routerLink="/orders" mat-flat-button>View orders</button>
            <button routerLink="/shop" mat-stroked-button>Continue shopping</button>
        </div>
    </div>
</section>
